
button {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: crimson;
    color: black;
    margin-top: 10px;;

    .firstButton {
        font-family: monospace;
    }
    .secondButton {
        font-family: serif;
    }
    .bs {
        @extend .p-5;
        @extend .bg-primary;
        @extend .btn;
    }
}
